<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my buddy - Edit Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{\css\main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
<div th:if="${error}">
    <div th:text="${error}" class="alert alert-danger"></div>
</div>
<div class="text-dark font-18 pt-40 pb-40 d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <button class="btn btn-lg text-white bg-success rounded">Pay My Buddy</button>
    </div>
    <nav
            class="d-flex justify-content-end align-items-center"
    >
        <ul class="nav justify-content-end">
            <li class="nav-item mx-3 pr-10">
                <a
                        class="nav-link black-text"
                        aria-current="page"
                        th:href="@{/transfers}"
                >Home</a
                >
            </li>
            <li class="nav-item mx-3 pr-10">
                <a class="nav-link black-text" th:href="@{/transfers}">Transfer</a>
            </li>
            <li class="nav-item mx-3 pr-10">
                <a class="nav-link active" th:href="@{/profile}">Profile</a>
            </li>
            <li class="nav-item mx-3 pr-10">
                <a class="nav-link black-text" th:href="@{/contact}">Contact</a>
            </li>
            <li class="nav-item mx-3 pr-10">
                <a class="nav-link black-text" th:href="@{/logout}">Log Off</a>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <nav class="col">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/transfers}">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
        </ol>
    </nav>
</div>
<section class="pt-35 pb-35 width-80">
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Edit Profile</h4>
                </div>
                <form
                        th:action="@{/editProfile}"
                        th:object="${userAccount}"
                        method="post">
                    <div class="form-group p-2">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control" id="firstname" th:field="*{firstname}" required>
                        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
                    </div>
                    <div class="form-group p-2">
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control" id="lastname" th:field="*{lastname}" required>
                        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
                    </div>
                    <div class="form-group p-2">
                        <label for="accountNumber">Account Number:</label>
                        <input type="text" class="form-control" id="accountNumber" th:field="*{accountNumber}" required>
                        <span th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span>
                    </div>
                    <div class="form-group p-2">
                        <label for="balance">Balance:</label>
                        <input type="number" class="form-control" id="balance" th:field="*{balance}" required>
                        <span th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}"></span>
                    </div>

                    <input type="hidden" id="email" name="email" th:field="*{email}"/>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</section>




</body>
</html>
