<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pay my buddy - Transfers</title>
    <link rel="stylesheet" type="text/css" th:href="@{\css\main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <div class="text-dark font-18 pt-40 pb-40 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button class="btn btn-lg green-bg-white-text rounded">Pay My Buddy</button>
        </div>
            <nav
                    class="d-flex justify-content-end align-items-center"
            >
                <ul class="nav justify-content-end">
                    <li class="nav-item mx-3 pr-10">
                        <a
                                class="nav-link black-text"
                                aria-current="page"
                                th:href="@{/home}"
                        >Home</a
                        >
                    </li>
                    <li class="nav-item mx-3 pr-10">
                        <a class="nav-link active" th:href="@{/transfers}">Transfer</a>
                    </li>
                    <li class="nav-item mx-3 pr-10">
                        <a class="nav-link black-text" th:href="@{/profile}">Profile</a>
                    </li>
                    <li class="nav-item mx-3 pr-10">
                        <a class="nav-link black-text" th:href="@{/contact}">Contact</a>
                    </li>
                    <li class="nav-item mx-3 pr-10">
                        <a class="nav-link black-text" th:href="@{/logout}">Log Off</a>
                    </li>
                </ul>
            </nav>

    </div>
    <div class="row">
        <div class="col bg-light">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
                </ol>
            </nav>
        </div>
    </div>
<section class="pt-35 pb-35 width-80">
    <div class="flex justify-content-between pb-10">
        <p class="font-24"><b>Send Money</b></p>
        <button class="blue-hover font-20 blue-bg-white-text btn font-20" type="button" data-toggle="modal" data-target="#modal">
            Add Connection
        </button>
    </div>
    <div class="grey-bg-black-text flex justify-content-around rounded p-35">
        <select
                class="form-select mb-3 width-30"
                aria-label="Select A Connection"
                id="connections"
                name="connections"
        >
            <option value="" disabled selected> Select A Connection
            </option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
        </select>
        <div class="width-30">
            <input
                    class="form-control font-16 p-40"
                    placeholder="0 €"
                    type="number"
                    id="quantity"
                    name="quantity"
                    min="1"
                    max="5"
            />
        </div>
        <span class="green-hover width-20 green-bg-white-text btn">Pay</span>
    </div>
</section>
<section class="pt-35 pb-35 width-80">
    <p class="font-24"><b>My Transactions</b></p>
    <table class="grey-border no-border-spacing table table-striped table-hover">
        <thead class="green-bg-white-text">
        <tr>
            <th>Connections</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.recipient.id}"></td>
                <td th:text="${transaction.description}"></td>
                <td th:text="${transaction.amount} + ' €'"></td>
            </tr>
        </tbody>
    </table>
</section>
<div class="pt-40">
    <ul class="width-80 flex justify-content-center align-items-center pt-40">
        <li class="list-style-type-none pt-10 pb-10 pr-20 pl-20 white-bg-blue-text grey-border rounded-left">
            <a th:if="${currentPage > 0}" th:href="@{transfers(page=${currentPage - 1})}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a th:unless="${currentPage > 0}" class="isDisabled" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="list-style-type-none" th:each="page, status: ${pages}">
            <a th:class="${status.index == currentPage ? 'pt-10 pb-10 pr-20 pl-20 blue-bg-white-text grey-border' : 'pt-10 pb-10 pr-20 pl-20 white-bg-blue-text grey-border' }"
               th:text="${status.index}"
               th:href="@{transfers(page=${status.index})}"></a>
        </li>
        <li class="list-style-type-none pt-10 pb-10 pr-20 pl-20 white-bg-blue-text grey-border rounded-right">
            <a th:if="${currentPage < totalPages}" th:href="@{transfers(page=${currentPage + 1})}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a th:unless="${currentPage < totalPages}" class="isDisabled" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a connection</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="newConnection" name="newConnection" class="form-control font-16 p-40" placeholder="Connection's email address" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/addconnection}">Add</a>
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#modal').on('shown.bs.modal', function () {
        $('#newConnection').trigger('focus');
    });
</script>
</body>
</html>
