<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<h3>Liste des user accounts</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>email</th>
            <th>password</th>
            <th>lastname</th>
            <th>firstname</th>
            <th>account_nb</th>
            <th>balance</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="u:${userAccounts}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.password}"></td>
            <td th:text="${u.lastname}"></td>
            <td th:text="${u.firstname}"></td>
            <td th:if="${u.accountNumber} != null"><span th:text="${u.accountNumber}"></span></td>
            <td th:unless="${u.accountNumber} != null">0</td>
            <td th:if="${u.balance} != null"><span th:text="${u.balance}"></span></td>
            <td th:unless="${u.balance} != null">0</td>
        </tr>
    </tbody>
</table>
</body>
</html>
